/* +++ +++ +++ Basics Styles Rules +++ +++ +++ */

/* +++ Elements +++ */
body{ 
    font-size: 14px;  
    background: #25231f;
    color: rgb(219, 210, 184);
}
h3{
    color: rgb(231, 192, 16) !important;  
    font-size: 2rem;
}
h4{ 
    color: rgb(231, 192, 16);  
    margin: 50px  0 50px 0; 
    border: 1px solid rgb(231, 192, 16);  
    border-radius: 0.5rem;
    padding: 1rem;
}
h5{
     font-weight: bold; 
} 

table tr:hover{
    background:  rgb(43, 42, 40) !important;
}
table td, th{
    border-color: #6bdd29ab !important;
    font-size: 0.9em;
}

textarea:disabled, input:disabled{
    background:  rgb(41, 31, 31) !important;
}

div#ktdebug { background: #E82335; color: #FFF; border: 1px solid #000; } 
td.td-section { font-size: 0.9em; color: #275305; font-weight: bold; background-color: #DFF3DC;}  
a { color: rgb(107, 204, 27);  }
a:hover { text-decoration: none; color: rgb(197, 197, 197); }
/*FOU LA MERDE DANS LE TEXTAREA CODE*//*pre { margin: 10px 10px 10px 10px !important;}*/
/* +++ ID's +++ */
#submsg { color: #BC0707; }

/* +++ Classes +++ */
.el_error { color: #BC0707; } 
.exemple { font-size: 0.8em;  font-style: italic;} 
.navbar-brand { padding-top: 3px !important; } /* overload on bootstrap */
.titre-panel {font-size: 1.3em; color: #ddc229; }
.wBlueColor { color: rgb(18, 149, 231); } 
.wGreenColor, .flagSquare { color: rgb(110, 207, 25); }
.wWhiteColor { color: rgb(203, 216, 192); }
.wYellowColor { color: rgb(235, 202, 15); }
.wRedColor, .flagMinus { color: rgb(235, 34, 12); }
.wDarkColor { color: rgb(37,35,31); }
.wBold { font-weight: bold; }
.mBot20 { margin-bottom: 20px; }
.mTop5 { margin-top: 5px !important; }
.mRight5 { margin-right: 5px !important; }
.mRight10 { margin-right: 10px !important; }
.mTop20 { margin-top: 20px !important; }
.mTop50 { margin-top: 50px !important; }
.mTop100 { margin-top: 100px !important; }
.wMgTop20 { margin-top: 20px; }
.foot { margin-top: 40px; }
.page-header { border-bottom: 2px solid #4C801C; margin: 40px 0 20px; padding-bottom: 9px; color: #4C801C; text-align: left; }
.lblSidis { margin-top: 7px; }
.form { font-size: 0.8em; color: #68d415;}
.underline{ border-bottom: 1px solid rgb(104, 190, 33); }
.infos{ padding-left: 2px; color: rgb(255, 175, 2); }
.author { 
    color: rgb(14, 180, 231); 
    font-size: 0.9em; 
    background: rgb(19, 19, 17); 
    border-radius: 4px; 
    border: 1px solid  rgb(59, 59, 59); 
    padding: 4px 4px; 
    margin-right: 7px;     
}
.lastupdate { 
    color: rgb(197, 243, 71); 
    font-size: 0.9em; 
    background: rgb(19, 19, 17); 
    border-radius: 4px; 
    border: 1px solid  rgb(59, 59, 59); 
    padding: 4px 4px;     
    text-align: center;
}
.tag { 
    color: rgb(209, 12, 104); 
    font-size: 0.9em; 
    background: rgb(19, 19, 17); 
    border-radius: 4px; 
    border: 1px solid  rgb(59, 59, 59); 
    padding: 4px 5px 2px 5px;     
    text-align: center;
}

.pull-right { float: right !important; }
.mBot20 { margin-bottom: 20px !important; }
.CodeMirror {
    background-color: rgb(37,35,31) !important; 
}
.page-header {
    border-bottom: 2px solid rgb(179, 148, 13);
    margin: 40px 0 15px;
    padding-bottom: 9px;
    color: rgb(228, 188, 10);
    text-align: left;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 30px;
}
.form-group-ktdev {
    border-radius: 5px;
    background-color: #080604;
    padding: 5px;
    margin: 9px 0;
    border: 1px solid #0a0601;
    color: rgb(255, 175, 2);
}
.contenu-page {
    border-radius: 5px;
    font-size: 1.1em;
    background-color: #cee3eb;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #33859d;
 }
 
.message{ margin-top: 45px; text-align: center; }
.btn-success, .btn-default {
    background-color: rgb(245, 182, 10);  
    color: rgb(48, 48, 46);
    border: 1px solid #000;
}

.btn-success:hover, .btn-default:hover {
   background-color: rgb(196, 155, 44);  
   color: rgb(0, 0, 0);
   border: 1px solid #000;
}
.btn-success:active {
    font-weight: 700;
    background-color: rgb(214, 167, 36) !important;  
    color: rgb(48, 48, 46);
    border: 1px solid #000;
 }
 .btn-primary, .btn-primary:active {
     background: #246DFF !important;
 }
 .btn-primary:hover{
    background: rgb(37, 91, 199) !important;
 }
.btn-primary { background-color: #14567F; }
.btn[disabled]{
    background-color:rgb(14, 14, 13) !important;
    color: rgb(214, 167, 36) !important;
}
.btn-dash{
    background-color:rgb(14, 14, 13) !important;
    color: rgb(214, 167, 36) !important;
}
.btn-dash:hover{
    background-color:rgb(14, 14, 13) !important;
    color: rgb(214, 167, 36) !important;
    border-color:  rgb(214, 167, 36) !important;
}
.badge{
    color: rgb(203, 216, 192);
    background: rgb(190, 33, 33);
}
.lstVersion { list-style: none; }
.tBlue { color: #14567F;  font-size: 1.2em; font-weight: bold; }
.eBlue { color: rgb(14, 86, 231); }
.container-prev { 
    margin: 30px 0 30px 0; 
    border: 1px solid #4e483f;
    padding: 10px; 
    border-radius: 5px; 
    background-color: rgb(28,28,28); 
}
.container-content { margin: 30px 0 30px 0; }
.container-listePages { margin: 20px 0 20px 0; }
.container-adm-listePages {
    padding: 10px 15px;
    background-color: #F8F8F8;
    border: 1px solid #ddd;
    border-radius: 3px;
 }  
 
.btn-close { margin: 10px 0 10px 0; }
.tHighlight { color: #f4dc04; }
.lblPrev { 
    display: block; 
    background-color: rgb(37,35,31); 
    padding: 5px; 
    margin-bottom: 15px; 
    border-radius: 5px; 
    text-align: center; 
    border: 1px solid #b6b6b6;
}
.prevTitre, .prevContenu { margin-bottom: 20px; padding: 5px; }
.suite-icons { margin: 0 10px 0 10px; }
.row-page { 
    padding: 0 5px 2px 5px; 
}

.row-page:hover{  
    border-left: 1px solid rgb(223, 208, 77);
    border-right: 1px solid rgb(223, 208, 77);
    background: #1d1d1b;    
}
.liste-pages { margin-top: 30px; }
.ul-listePages { text-align: left; }
.li-listePages { list-style: none; line-height: 1.7em; }
.legende-liste { margin-bottom: 20px; }
.mb-2{ margin-bottom: 20px; }
.mt-2{ margin-top: 20px; }
.navbar{
    background: rgb(48, 48, 46);
    border-bottom: 1px solid #494934;;
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:active, .navbar-nav > li > a:focus,
.dropdown-menu, .dropdown-menu > li  > a:hover {
    background: rgb(48, 48, 46) !important;
    color: rgb(248, 247, 232) !important;
}
.navbar-toggle{
    background: rgb(19, 19, 17) !important;
    border-color: rgb(107, 204, 27) !important;
}
.navbar-toggle .icon-bar {
    background: rgb(107, 204, 27) !important;
}
.dropdown-menu, .dropdown-menu > li  > a { 
    background: rgb(48, 48, 46) !important;
    color:  rgb(106, 194, 29) !important;
}
.dropdown-menu > li > a:hover {
    background: rgb(14, 14, 13) !important;
    color: rgb(248, 247, 232) !important;
}
.dropdown-menu > li > a:active {   
    color: rgb(248, 247, 232) !important;
}
.usermenu{
    background-color: rgb(180, 137, 45) !important;
}
.menu-quitter:hover{
    color: rgb(248, 247, 232) !important;
}

.form-control{
    background:  rgb(28,28,28);
    color: rgb(219, 210, 184);
    box-shadow: none !important;
    border: 1px solid rgb(68, 63, 59);
}

.form-control:active{
    border: 1px solid rgb(245, 182, 10) !important; 
}

.form-control:focus{
    border: 1px solid rgb(245, 182, 10) !important; 
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(245,182,10,.6) !important;
}

.form-control[readonly]{
    background: rgb(37,35,31) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(245, 10, 10, 0.6) !important;
    border: 1px solid rgb(68, 63, 59);
    color: rgb(245, 182, 10);
    box-shadow: none !important;
}
.form-control[readonly]:hover{
    border: 1px solid rgba(245, 10, 10, 0.6) !important;
}
.form-control[readonly]:active, .form-control[readonly]:focus{
    border: 1px solid rgb(68, 63, 59) !important; 
}

.list-group > a:hover{
    background:  rgb(28,28,28) !important;    
}
.restore-list{
    background:  rgb(28,28,28);
    padding: 15px 0 5px 0;
    margin: 10px 0;
    border: 1px solid #4e483f;
    border-radius: 5px;
}

.b_row { margin: 0 5px 0 5px; }

.b_restore{ background:  rgb(245, 182, 10) !important; color: #000!important; border: 1px solid rgb(253, 250, 68); border-radius: 3px;}
.b_restore a { color: #000!important; }
.b_restore a:hover {color: rgb(148, 0, 0) !important;}

.b_fermer{ background:  rgb(190, 33, 33); text-align: center;  border: 1px solid #ff1919; border-radius: 3px; }
.b_fermer a { color: rgb(255, 255, 255)!important; }
.b_fermer a:hover {color: rgb(253, 250, 68)!important; } 

.title-page-restore{
    color: rgb(245, 182, 10) !important; 
}

.avertissement{
    background:  rgb(190, 33, 33);
    padding: 5px;
    margin: 20px 0;
    border: 1px solid #fa0606;
    border-radius: 5px;
    color: rgb(203, 216, 192);
}
.alert-danger{
    color: rgb(203, 216, 192);
    background: rgb(190, 33, 33);
    border: 1px solid #fa0606;
}
.alert-success{
    color: rgb(203, 216, 192);
    background: rgb(104, 190, 33);
    border: 1px solid #74fa06;
    color: rgb(2, 14, 2)
}
.panel{
    background: rgb(37,35,31) !important;
    border: 1px solid rgb(68, 63, 59);
}

.panel-default > .panel-heading, .panel-footer  {
    background: rgb(66, 64, 60) !important;
    border: none;
    color: rgb(248, 205, 126);
}
.panel-footer-hover:hover{
    color: rgb(241, 175, 52) !important;
    border: 1px solid rgb(114, 111, 109);  
}
.input-group-addon, .list-group-item{
    background: rgb(66, 64, 60) !important;
    border: 1px solid rgb(68, 63, 59);
    color: rgb(241, 220, 181) !important;
}
.link-logout:hover {
    color: rgb(235, 34, 12) !important;
}
.link-index:hover {
    color: rgb(107, 204, 27) !important;
}
.modal-content {
    background: rgb(37,35,31) !important;
    border: 2px solid rgb(241, 175, 52) !important;
}
.modal-footer {
    border-top: 1px solid rgb(241, 175, 52) !important;
}
.modal-header {
    border-bottom: 1px solid rgb(241, 175, 52) !important;
}



